html {
	scroll-behavior: smooth;
}
.header--has-menu {
	overflow: hidden;
}

header .header__icons {
	padding-right: 0;
	min-height: 4rem;
}
header .header__heading-link {
	overflow: visible;
}
header .header__icon--cart .icon {
	height: 3.2rem;
	width: 3.2rem;
	margin: 0.8rem auto;
}
header .mobile-trigger {
	padding-right: calc(var(--page-width-margin) / 2);
}
header .header__icon {
	height: auto;
	width: auto;
	margin: 0;
	position: relative;
	
	.svg-wrapper {
		overflow: hidden;
		padding: 0;
		margin: 0;
		height: 100%;
		width: auto;
	}
	.cart-count-bubble {
		position: absolute;
		background-color: transparent;
		color: rgb(var(--color-background));
		height: 100%;
		width: 3.2rem;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3.0rem;
		font-family: var(--font-heading-family);
		bottom: 0;
		right: unset;
		line-height: 1;
		text-decoration: none;
		font-weight: 600;
		text-align: center;
		left: 0;
	}
}
div:has(> .product) {
	padding: 0;
	border-radius: 3px;
	margin: 0 0.8rem;
}
@media screen and (min-width: 750px) {
	header .header__icon--cart .icon {
		height: 3.8rem;
		width: 3.8rem;
	}
	header .header__icon {
		.cart-count-bubble {
			right: 0;
			left: unset;
			font-size: 4.0rem;
			width: 3.8rem;
		}
	}
}
@media screen and (min-width: 1400px) {
	div:has(> .product) {
		margin: 0 auto;
	}
}
@media screen and (min-width: 990px) {
	.page-width .product--stacked .product__media-item {
		max-width: 100%;
		width: 100%;
	}
}

footer.footer {
	border-top: 0;
}
footer.footer p {
	font-size: 1.5rem;
}
footer.footer .grid{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0;
	.footer-block.grid__item {
		margin: 0;
		width: auto;
	}
	.footer-block-image {
		justify-content: flex-start;
	}
	.footer-block-image.right {
		justify-content: flex-end;
	}
	.footer-block__details-content {
		margin: 0;
	}
}
footer .footer__content-top {
	border-bottom: var(--page-border);
	border-left: var(--page-border);
	border-right: var(--page-border);
	padding: 1.6rem var(--page-width-margin);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0 0.8rem 4.0rem 0.8rem;
}
footer .footer-block__image-wrapper {
	margin: 0;
}
@media screen and (min-width: 1400px) {
	footer .footer__content-top {
		margin: 0 auto;
	}	
}
footer .footer__content-bottom {
	max-width: var(--page-width);
	padding: 0 0 10.0rem 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	
	#FooterLanguageLabel {
		display: none;
	}
	.footer__content-bottom-wrapper {
		display: block;
		width: unset;
	}
	.footer__content-bottom-wrapper.page-width {
		margin: 0;
		max-width: unset;
		padding: 0;
	}
	
	.footer__copyright {
		display: block;
		text-align: left;
		padding: 0 1.6rem;
		.copyright__content {
		}
		.policies {
			display: flex;
			list-style: none;
			flex-flow: row wrap;
			li:before {
				content: "";
			}
			
		}
	}
}

@media screen and (min-width: 750px) {
	footer .footer__content-bottom {
		.footer__content-bottom-wrapper.page-width {
			margin: 0 4.0rem;
		}
		.footer__copyright {
			text-align: right;
		}		
	}	
}
@media screen and (min-width: 1400px) {
	footer .footer__content-bottom {
		.footer__content-bottom-wrapper.page-width {
			margin: 0;
		}		
	}	
}

a {
	color: #BA9840;
}

.button--primary {
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* Typography */

/* Super Xtra Grande */
.hxxl {
  font-size: clamp(calc(var(--font-heading-scale) * 13rem), 14vw, calc(var(--font-heading-scale) * 30rem));
  line-height: 1.1;
  font-weight: var(--font-heading-weight);
}
@media only screen and (min-width: 750px) {
  .hxxl {
	font-size: clamp(calc(var(--font-heading-scale) * 20rem), 14vw, calc(var(--font-heading-scale) * 30rem));
  }
}
/* Xtra Grande */
.hxl {
  font-size: clamp(calc(var(--font-heading-scale) * 10rem), 14vw, calc(var(--font-heading-scale) * 15rem));
  line-height: calc(1 / max(1, var(--font-heading-scale)));
  font-weight: var(--font-heading-weight);
}

@media only screen and (min-width: 750px) {
  .hxl {
	font-size: calc(var(--font-heading-scale) * 15rem);
  }
}

/* Grande */
.h0 {
  font-size: calc(var(--font-heading-scale) * 8rem);
  line-height: calc(1 / max(1, var(--font-heading-scale)));
}

@media only screen and (min-width: 750px) {
  .h0 {
	font-size: calc(var(--font-heading-scale) * 10rem);
  }
}

/* Mediano */
h1, .h1 {
	font-size: 8.0rem;
	line-height: 1;
	margin: 0;
}
/* Pequeño */
h2, .h2 {
	font-size: 6.0rem;
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 300;
	margin-bottom: 2rem;
}
h3, .h3 {
	font-size: 5.0rem;
	margin: 0;
	line-height: 1;
	font-weight: 300;
	margin-bottom: 2rem;
}
h5, .h5 {
	font-family: var(--font-body-family);
	font-size: 2.0rem;
	margin: 0 0 0.75rem 0;
	line-height: 1.5;
	font-weight: 300;
	margin-bottom: 2rem;
}
@media screen and (min-width: 750px) {
	h5, .h5 {
		font-size: 2.4rem;
	}
}

/* RICH TEXT */
.custom-rich-text .rich-text__wrapper {
	border: var(--page-border);
	border-radius: 3px;
	margin: 0 0.8rem;
	width: calc(100% - 1.6rem );
}
@media screen and (min-width: 1400px) {
	.custom-rich-text .rich-text__wrapper {
		margin: 0 auto;
	}	
}
/* SHOP */
.product.product--no-media .product__info-container,
.product.product--no-media .product__info-container .product-form>.form,
.product.product--no-media .product__info-container .product-form>.form .recipient-form,
.product.product--no-media {
	max-width: 70.0rem;
	text-align: center;
}
.collection {
	padding-left: 0;
	padding-right: 0;
	margin: 0 0.8rem;
}
@media screen and (min-width: 1400px) {
	.collection {
		margin: 0 auto;
	}	
}

.product-grid .grid__item {
	border-radius: 3px;
	.card__content {
		.card__information {
		border-top: var(--page-border);
			display: grid;
			grid-template-columns: 3fr 1fr;
			padding: 0 calc(var(--page-width-margin) / 2);
		}
		.card-information {
			border-left: var(--page-border);	
			padding: 0 calc(var(--page-width-margin) / 2);
		}
	}
}
@media screen and (min-width: 990px) {
.shopify-section .product--large:not(.product--no-media) .product__info-wrapper {
	padding: 0;
}
	
}

.product .grid__item {
	overflow: hidden;
}
@media screen and (min-width: 990px) {
	.product .grid__item {
		overflow: unset;
	}
}
.product__info-wrapper .product__info-container>*+* {
	margin: 0;
}
.product__info-wrapper .product__info-container {
	padding: 0;
	.price .badge,
	.price__container {
		margin: 0;
	}
	.product-form {
		margin: 0;
	}
	.product__description {
		border-top: var(--page-border);
		padding: 1.6rem var(--page-width-margin);
		margin: 0;
	}
	.product__title {
		padding: 1.6rem var(--page-width-margin);
		margin: 0;
		h1 {
			font-size: 8rem;
			text-transform: uppercase;
		}
	}
	.price {
		padding: 1.6rem var(--page-width-margin);
	}
	.product-form {
		padding: var(--page-width-margin);
		.product-form__buttons {
			margin: 0 auto;
		}
		.recipient-checkbox {
			max-width: 44.0rem;
			margin: 0 auto;;
		}
		
	}
	.product-form__submit {
		margin: 0;
	}
	.product__tax,
	.form__label {
		display: none;
	}
	
}

variant-selects {
	margin: 0;
	padding: 1.6rem var(--page-width-margin);
	border-top: var(--page-border);	
	.product-form__input {
		margin: 0;
	}
}

.card__heading {
	font-size: 5.0rem;
	text-transform: uppercase;
}

#menu-drawer {
	.menu-drawer__navigation {
		padding: var(--page-width-margin);
	}
	.list-menu__item {
		font-size: 6.0rem;
	}
	.menu-drawer__menu-item--active {
		background-color: unset;
		color: white;
	}
}

.cart__login-title {
	margin-top: 3.2rem;
}

.multicolumn-card__info ul {
	list-style: outside;
	margin: 0 0 0 1.5rem;
	padding: 0;
	li {
		margin-bottom: 1rem;
	}
}

.input[typ="date"] {
	text-align: right;
}

.language-selector {
	z-index: 999;
}